/*! responsive-nav.js 1.0.39 by @viljamis */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
  background-color: #444;
}

.nav-collapse li {
  width: 100%;
  display: block;
  text-align: left;
}

.nav-collapse li a {
  color: #333
}

@media screen and (max-width: 900px) {
  .nav-collapse li a {
    display: inline-block;
    font-weight: 400;
    font-size: 112.5%;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    width: 100%;
    background: #333;
    border-bottom: 1px solid rgba(242, 246, 248, 1);
    padding: .5em .3em;
  }
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 901px) {
  .js .nav-collapse {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
  }

  .js .nav-collapse.closed {
    max-height: none;
  }

  .nav-toggle {
    display: none;
  }

  .nav-collapse ul {
    text-align: right;
    margin-top: 12%;
    background-color: inherit;
    font-weight: 400;
    font-size: 112.5%;
    letter-spacing: 2px;
    text-decoration: none;

  }

  .nav-collapse li {
    display: inline;
    margin-left: 30px;
  }

  .nav-collapse li a{
    text-decoration: none;
    border-bottom: 2px solid rgba(51, 51, 51, 0);
    transition: border-bottom 0.3s;

  }


  .nav-collapse li a:hover {
     border-bottom: 2px solid rgba(51, 51, 51, 1);
  }
}


