<div class="home">
  <div class="work-container">
    <div class="work-inner">
      <!-- first row -->
      <div class="work-piece"><img src="http://lorempixel.com/332/250/"/></div>
      <div class="work-piece"><img src="http://lorempixel.com/332/250/"/></div>
      <div class="work-piece"><img src="http://lorempixel.com/332/250/"/></div>
      <!-- second row -->
      <div class="work-piece"><img src="http://lorempixel.com/332/250/"/></div>
      <div class="work-piece"><img src="http://lorempixel.com/332/250/"/></div>
      <div class="work-piece"><img src="http://lorempixel.com/332/250/"/></div>

    </div>
  </div>
</div>