<footer class="site-footer">

   <div class="wrapper footer-container">

      <div class="footer-col footer-col-1">
        <ul class="social-media-list">

          <li>
            <a href="https://github.com/jmazzucco" target="_blank"><i class="fa fa-github"></i></a>
          </li>

          <li>
            <a href="https://twitter.com/johnmazzucco" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>

          <li>
            <a href="https://www.linkedin.com/in/john-mazzucco-68b1502a" target="_blank"><i class="fa fa-linkedin"></i></a>
          </li>

          <li>
            <a href="mailto:john.mazzucco@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
          </li>

        </ul>
      </div>

    </div>

  </div>



  <script src="{{ "/scripts/menu-icon.js" | prepend: site.baseurl }}"></script>


    <script>
    var nav = responsiveNav(".nav-collapse");
  </script>

</footer>
