/**
 * Site header
 */
.site-header {
    @include outer-container;

    min-height: 56px;
    padding-top: 30px;

    // Positioning context for the mobile navigation icon
    position: relative;

    @include media-query($on-palm) {
      padding-top: 15px;
    }

}

.header-container {
    display: flex;
    align-items: center;
}

.site-title {
    @include span-columns(5);
    @include shift(1);
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 0;
    float: left;
    display: flex;
    align-items: center;

    &,
    &:visited {
        color: $grey-color-dark;
    }

    span {
        display: inline-block;

        @include media-query($on-tablet) {
          font-size: 0.6em
        }

        @include media-query($on-palm) {
          display: none;
        }
    }
}


#logo {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 20px;
    background: grey;
    transform: rotate(45deg);


    @include media-query($on-palm) {
      width: 25px;
      height: 25px;
      margin: 0;

    }

}


.site-nav {
    @include span-columns(5);
    float: right;
    line-height: 56px;
    text-align: right;


    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;

    li {
      display: inline-block;
      margin-left: 15px;

      @include media-query($on-palm) {
        margin: 5px;
      }
    }

}

.footer-container {
    @include outer-container;
    font-size: 15px;
    color: $grey-color;
    @extend %clearfix;
}


@include direction-context(right-to-left) {
  .footer-col {
    @include span-columns(8);
    @include shift(1);
    text-align: right;

    @include media-query($on-palm) {
      @include span-columns(8);
      @include shift(2);
      text-align: center;
    }

  }
}


/**
 * Page content
 */
.page-content {
    @include outer-container;
    padding: $spacing-unit 0;
}

.home {
    @include outer-container;
}

.work-container {
  @include span-columns(10);
  @include shift(1);

  .work-inner {
    font-size: 0;
    text-align: center;
  }
}

.work-piece {
  display: inline-block;
  margin: auto;
  @include calc(width, "100% / 3");
  overflow: hidden;
  background: grey;

  img {
    min-width: 100%;
  }

  @include media-query($on-tablet) {
    width: 50%;
  }

  @include media-query($on-palm) {
    max-width: 300px;
    width: 100%;
  }


}

.page-heading {
    @include span-columns(3);
    font-size: 20px;
}

.rss-subscribe {
    @include span-columns(3);
}

.post-list {
    @include span-columns(3);
    @include shift(2);
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}


.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */


.post {
      @include span-columns(10);
    @include shift(1);
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
